@model List<WebApplication3.Models.LocationPoint>

<h2>Traseu Colectare - Optimizat</h2>
<div id="map" style="height: 600px;"></div>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-sA+RlE4u0b2lj3C95EQx0b3nVpPtExTmkuHbHkPj3uM=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-pMprbCT0UF+pBzJYnmjv/H5v5Fui1x7xyL2BdjtmvWc=" crossorigin=""></script>

<script>
    var map = L.map('map').setView([@Model[0].Lat, @Model[0].Lng], 13);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; OpenStreetMap contributors'
    }).addTo(map);

    var route = [
    @foreach (var p in Model)
    {
        <text>[ @p.Lat, @p.Lng ],</text>
    }
    ];

    route.forEach((p, i) => {
        L.marker(p).addTo(map).bindPopup("Punct " + (i + 1));
    });

    L.polyline(route, { color: 'blue' }).addTo(map);
    map.fitBounds(route);
</script>
